*{
    /* border: 1px solid red; */
    background-color:#333;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Pseudo Menu de Navegacion  */

header{
    padding-left: 800px;
    list-style: none;
}

#enlace{
    display: inline-block;
    padding-left: 15px;
    font-size: 25px;
}

a{
    text-decoration: none;    /* con esta propiedad se quita los subrayados de lo enlaces */
    font-size: 21px;        
    font-style: oblique;
    /* font-weight: bold; */
    color: cyan ;        /* se nodifica el color de la letra del enlace */
}

/* Demas elementos del html */

figure{
    float: right;
}

figcaption,  .titulo {
    text-align: center;
}

article{
    padding: 30px 0px 30px 20px;
}

footer p{
    text-align: center;
}

section{
    padding: 30px 0px 30px 20px;
}